.mq-button {
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #7059ff;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  
  &.mq-button-fw {
    flex: 1;
  }
}
