.mq-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 6px 0px #696969;
  padding: 40px 30px;
  width: 35%;
}
