
.mq-image-container {
  padding: 10px;
  width: 100%;

  .mq-image {
    background-color: #ececec;
    width: 100%;
    padding-top: calc(100% / 3 * 4);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
  }
}
